---
import { SITE, THEME_CONFIG } from "../../config";
import Icon from "../ui/Icon.astro";

const currentYear = new Date().getFullYear();
const showToggle = THEME_CONFIG.lightAndDark;
---

<footer class="footer">
    <div class="flex items-center gap-4">
        <span class="body-xs">&copy; {currentYear} {SITE.author}.</span>
    </div>
    <div class="flex items-center gap-4">
        {
            showToggle && (
                <button
                    id="theme-toggle"
                    aria-label="Toggle Dark Mode"
                    class="btn-icon"
                >
                    <Icon name="Sun" size={16} class="hidden dark:block" />
                    <Icon name="Moon" size={16} class="block dark:hidden" />
                </button>
            )
        }
    </div>
</footer>
